.registrationed
  %h1.registrationed__icon
    = link_to image_tag('logo.png', class: "registrationed__icon__image"), "#" 
  .registrationed__finish
    .registrationed__finish__box
      %h1.registrationed__finish__box__text
        新規登録が完了しました。
      = link_to "/" do
        %p.registrationed__finish__box__totop
          トップページへ
  .registrationed__footer