* {
  box-sizing: border-box;
}
.user-new{
  background: rgb(245, 245, 245);
  height: 100%;
  width: 100%;
}
.item_form{
  height: 100%;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  .item_setumei{
    margin-bottom: 24px;
    font-size: 14px;
    color: #888888;
  }
  input{
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0 16px;
  }

  select{
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 0 16px;
    border-radius: 4px;
  }
  .item_sell{
    height: 100px;
    border-bottom: solid 1px rgb(245, 245, 245);
    h2{
      font-size: 25px;
      line-height: 100px;
      text-align: center;
    }
  }
  textarea{
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    margin: 0;
    padding: 10px 16px;
  }
  .item_img{
    padding: 40px;
    border-bottom: solid 1px rgb(245, 245, 245);
    &__label{
      margin-bottom: 20px;
      padding: 30px 0 0;
    }
    &__description{
      font-size: 14px;
      color: #333333;
    }
    .post__drop__box__container{
      display: block;
      margin: 16px auto 0;
      display: flex;
      flex-wrap: wrap;

      //プレビュー表示欄のCSS
      .prev-content {
        display: flex;
        .preview-box {
          height: 162px;
          width: 112px;
          margin: 0 5px 10px 0;
          .upper-box {
            height: 112px;
            width: 100%;
            img{
              width: 112px;
              height: 112px;
            }
          }
          // jsファイルの名前
          .lower-box {
            display: flex;
            text-align: center;
            .update-box {
              color: #00b0ff;
              width: 50%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #eee;
              background: #f5f5f5;
              cursor: pointer;
            }
            .delete-box {
              color: #00b0ff;
              width: 50%;
              height: 50px;
              line-height: 50px;
              border: 1px solid #eee;
              background: #f5f5f5;
              cursor: pointer;
            }
          }
        }
      }

      // 投稿クリックエリアのCSS
      .label-content{
        margin-bottom: 10px;
        width: 620px;
        .label-box {
          display: block;
          border: 1px dashed #ccc;
          position: relative;
          background: #f5f5f5;
          width: 100%;
          height: 162px;
          cursor: pointer;
          .fas.fa-camera {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            font-weight: bold;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
            color: gray;
          }
        }
        .hidden-field {
          display: none;
        }
      }
      
      //file_fieldのcss
      .hidden-content {
        .hidden-field {
          display: none;
        }
        .hidden-checkbox {
          display: none;
        }
      }
    }
      
    
  }
  .item_name{
    padding: 40px;
    border-bottom: solid 1px rgb(245, 245, 245);
    &__form{
      margin-bottom: 20px;
    }
    &__label{
      margin-top: 20px;
    }
    .item_description{
      margin-bottom: 20px;
    }
    input{
      width: 100%;
      height: 48px;
      border: 1px solid #ccc;
      margin: 0;
      padding: 0 16px;
    }
  }
  .item_detail{
    padding: 40px;
    border-bottom: solid 1px rgb(245, 245, 245);
    &__category{
      margin-bottom: 20px;
      input{
        width: 100%;
        height: 48px;
        border: 1px solid #ccc;
        margin: 0;
        padding: 0 16px;
      }
    }
    &__condition{
      margin-bottom: 20px;
    }
  }
  .item_delivery{
    padding: 40px;
    border-bottom: solid 1px rgb(245, 245, 245);
    &__burden{
      margin-bottom: 20px;
    }
    &__area{
      margin-bottom: 20px;
    }
    &__days{
      margin-bottom: 20px;
    }
  }
  .item_price{
    padding: 40px;
    &__sale{
      margin-bottom: 20px;
    }
    &__commission{
      margin-bottom: 20px;
    }
    &__profit{
      margin-bottom: 20px;
    }
    input{
      width: 100%;
      height: 48px;
      border: 1px solid #ccc;
      margin: 0;
      padding: 0 16px;
      border-radius: 4px;
    }
  }
  .btn{
    padding: 40px;
    text-align: center;
    button{
      width: 360px;
      height: 48px;
      font-size: 17px;
      border-radius: 4px;
    }
    .exhibition_btn{
      margin-bottom: 24px;
      button{
        background-color: #3CCACE;
        color: white;
      }
    }
    .return_btn{
      button{
        background-color: #CCCCCC;
      }
    }
  }
}
.footer_items_new{
  height: 200px;
  width: 100%;
}
