* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.body{
  .bread{
    border-top: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    height: 48px;
    position: relative;
    ul{
      width: 1020px;
      display: flex;
      margin: 0 auto;
      padding: 15px 0;
      .text{
        padding-right: 5px;
      }
    }
  }
  .container{
    margin: 40px auto 0;
    width: 1020px;
    margin-bottom: 100px;
    .content{
      float: right;
      width: 700px;

      .user-icon{
        position: relative;
        height: 200px;
        padding: 20px;
        background-image: url("back-image.png");
        background-size: cover;
        text-align: center;
        a{
          color: black;
          text-decoration: none;
          position: absolute;
          top: 50%;
          right: 0;
          left: 0;
          transform: translate(0, -50%);
          figure{
            overflow: hidden;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            .user-image{
              vertical-align: middle;
              width: 60px;
            }
          }
          .nickname{
            margin: 8px 0 0;
          }
          .user-number{
            margin: 8px 0 0;

            div{
              display: inline-block;
              font-size: 14px;
              +div{
                margin: 0 0 0 16px;
              }
              .num {
                margin: 0 0 0 8px;
                font-size: 16px;
              }
            }
          }
        }
      }
      .notice{
        background: #fff;
        .tabs{
          background: #eee;
          border: 0;
          display: flex;
          font-size: 0;
          .active{
            width: 50%;
            background: #fff;
            text-align: center;
            h3{
              font-weight: bold;
              a{
                color: black;
                border-top: 2px solid #3ccace;
                display: block;
                font-size: 16px;
                line-height: 72px;
              }
            }
          }
          .active2{
            width: 50%;
            text-align: center;
            h3{
              font-weight: bold;
              a{
                color: black;
                display: block;
                font-size: 16px;
                line-height: 72px;
              }
            }
          }
        }
        .tab-content{
          .item-list-left {
            display: block;
            .list-text{
              border-bottom: 1px solid #eee;
              position: relative;
              a{
                display: block;
                min-height: 80px;
                padding: 16px;
                color: #333;
                figure{
                  position: relative;
                  float: left;
                  width: 48px;
                  height: 48px;
                  .tag-icon{
                    position: absolute;
                    width: 100%;
                  }
                }
                .item-body{
                  margin: 0 40px 0 68px;
                  .item-text{
                    line-height: 1.5;
                  }
                  .time{
                    color: #888;
                    .far.fa-clock{
                      margin: 0 8px 0 0;
                    }
                    .far.fa-clock::before{
                      content: "\f017";
                    }
                    span{
                      vertical-align: middle;
                    }
                  }
                }
                .fa.fa-angle-right{
                  position: absolute;
                  right: 16px;
                  transform: translate(0, -100%);
                  
                }
                .fa.fa-angle-right::before{
                  content: "\f105";
                }
              }
            }
            .go-list{
              border: 0;
              padding: 16px;
              position: relative;
              a{
                display: block;
                background: #eee;
                color: #333;
                line-height: 56px;
                text-align: center;
                height: 56px;
              }
            }
          }
        }
      }
      .buy{
        margin: 40px 0 0;
        background: #fff;
        .buy-tab-head{
          padding: 0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          font-weight: bold;
        }
        .buy-tabs{
          border: 0;
          background: #eee;
          font-size: 0;
          display: flex;
          .active{
            width: 50%;
            background: #fff;
            text-align: center;
            h3{
              font-weight: bold;
              a{
                color: black;
                border-top: 2px solid #3ccace;
                display: block;
                font-size: 16px;
                line-height: 72px;
              }
            }
          }
          .active2{
            width: 50%;
            text-align: center;
            
            h3{
              font-weight: bold;
              a{
                color: black;
                display: block;
                font-size: 16px;
                line-height: 72px;
              }
            }
          }
        }
        .tab-content{
          .buy-item-list{
            display: block;
            .item-not-list{
              border: 0;
              padding: 160px 0 60px;
              background-image: url("monoicon.png");
              background-repeat: no-repeat;
              background-position: center 40px;
              background-size: 78px 85px;
              text-align: center;
              color: #ccc;
            }

          }
        }
      }
    }
    .side{
      // float: left;
      width: 280px;
      margin: 0 40px 0 0;
      .my-nav{
        .my-nav-list{
          list-style: none;
          li{
            border-top: 1px solid #eee;
            a{
              position: relative;
              display: block;
              min-height: 48px;
              padding: 16px;
              font-size: 14px;
              color: #333;
              background: #fff;
              .fa.fa-angle-right{
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translate(0, -50%);
                color: #ccc;
              }
              .fa.fa-angle-right::before{
                content: "\f105";
              }
            }
          }
        }
        .my-nav-head{
          margin: 40px 0 0;
          font-size: 16px;
        }
        .my-nav-list{
          margin: 8px 0 0;
          li{
            
          }
        }
      }
    }
  }
  .app-banner{
    background-image: url("bg-appBanner-pict.jpg");
    padding: 100px 40px;
    background-position: center;
    background-size: cover;
    .inner{
      color: white;
      text-align: center;
      .inner__title{
        font-size: 24px;
        font-weight: bold;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height: 1.4;
      }
      .inner__text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .inner__icon{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .app__image{
          width: 180px;
          margin-right: 15px;
        }
        .google__image{
          width: 180px;
        }
      }
    }
  }
  .top-footer{
    padding: 60px 0;
    color: white;
    background-color: #272727;
    text-align: center;
    .contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content{
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
        .content__tittle{
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
        }
        .lists{
          list-style: none;
          .list{
            a{
              color: white;
              text-decoration: none;
              font-size: 12px;
              line-height: 32px;
            }
          }
        }
      }
    } 
    .footer__logo{
      max-width: 160px;
      margin: 0 auto;
      .logo__image{
        width: 100%;
        vertical-align: bottom;
      }
    }
    p{
      font-size: 14px;
    }
  }
  a{
    .sell-btn{
      width: 120px;
      background: #3ccace;
      text-align: center;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
      .sell-btn__text{
        color: white;
        display: block;
        font-size: 18px;
        text-decoration: none;
        margin-bottom: 5px;
      }
      .sell-btn__icon{
        .sell-icon__image{
          width: 60%;
        }
      }
    }
  }
}




